@font-face {
  font-family: 'Fontello';
  src: url("../font/fontello.ttf"); }

@font-face {
  font-family: 'Goodtimes';
  src: url("../font/goodtime.ttf"); }

@font-face {
  font-family: 'Century';
  src: url("../font/century.ttf") format("truetype"); }

:root {
  --colors-li-nav:  rgb(9, 9, 119);
  --colors-li-p:black;
  --colors-li-titles: black;
  --colors-li-brand: rgb(9, 9, 119);
  --colors-li-active: #64ffda;
  --colors-li-a: white;
  --colors-li-header:rgb(230, 230, 230);
  --colors-li-header-text: #5e5e5e;
  --colors-li-section-odd: rgb(247, 247, 247);
  --colors-li-section-even:rgb(230, 230, 230);
  --colors-drk-nav: #171717;
  --colors-drk-p: #ccc;
  --colors-drk-titles: #64ffda;
  --colors-drk-brand: #171717;
  --colors-drk-a: #999;
  --colors-drk-header:#252525;
  --colors-drk-header-text: white;
  --colors-drk-section-odd: #373737;
  --colors-drk-section-even:#444;
  --colors-nav:  var(-colors-li-nav);
  --colors-p: var(--colors-li-p);
  --colors-titles: var(--colors-li-titles);
  --colors-brand: var(--colors-li-brand);
  --colors-active: var(--colors-li-active);
  --colors-a: var(--colors-li-a);
  --colors-header: var(--colors-li-header);
  --colors-header-text: var(--colors-li-header-text);
  --colors-section-odd: var(--colors-li-section-odd);
  --colors-section-even: var(--colors-li-section-even); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  margin: auto;
  padding-top: 3px;
  font-family: "Goodtimes", sans-serif;
  text-align: center;
  color: var(--colors-header-text);
  font-size: 40px; }

h2 {
  letter-spacing: 1.5px;
  font-family: "Century", arial;
  font-weight: bold;
  text-align: center;
  color: var(--colors-titles);
  text-transform: uppercase;
  font-size: 30px; }

h3 {
  letter-spacing: 1.5px;
  font-family: "Century", arial;
  font-weight: bold;
  text-align: center;
  color: var(--colors-titles);
  font-size: 18px; }

.row {
  font-family: "Century", arial;
  color: var(--colors-titles);
  font-size: 15px; }

p {
  font-family: "Century", arial;
  text-align: justify;
  font-size: 18px;
  color: var(--colors-p); }

body {
  width: 100%;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto; }

.nav-link {
  font-family: "Century", arial;
  font-weight: bold; }

.navbar-brand {
  font-family: "Goodtimes", sans-serif;
  font-size: 25px; }

.navbar-toggler {
  border: none; }

/* REEMPLAZA ICONO DEL MENU */
.navbar-toggler-icon {
  background-image: url(../img/logo.png) !important;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  transition: all 0.50s ease-out;
  transform-origin: center;
  border-radius: 50%; }

nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: var(--colors-nav);
  text-align: center; }
  nav .brand {
    height: 50px;
    font-size: 3rem;
    font-weight: 600;
    display: block;
    background-color: var(--colors-brand); }
    nav .brand img {
      padding-top: 15px; }
  nav .menu {
    display: block;
    margin-top: 5rem; }
    nav .menu a {
      display: block;
      color: var(--colors-a);
      -webkit-transition: color 320ms ease-in;
      -moz-transition: color 320ms ease-in;
      -ms-transition: color 320ms ease-in;
      -o-transition: color 320ms ease-in;
      transition: color 320ms ease-in; }
      nav .menu a:hover {
        color: var(--colors-active); }
      nav .menu a.active {
        color: var(--colors-active); }
  nav .toggle {
    border-top: 1px solid white;
    padding-top: 17px; }
  nav .theme-toggle:hover {
    color: var(--colors-active); }

.main {
  padding-left: 60px;
  padding-right: 0%;
  background-color: var(--colors-header); }
  .main .banner {
    position: relative;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 35px; }
    .main .banner .swiper {
      min-width: 200px;
      max-width: 320px;
      width: 40%;
      height: 100%; }
      .main .banner .swiper .swiper-wrapper .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 320px;
        width: 100%;
        height: 100%; }
        .main .banner .swiper .swiper-wrapper .swiper-slide img {
          display: block;
          width: 100%; }
  .main header {
    margin-top: 20px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center; }
    .main header h1 {
      padding-left: 15px;
      padding-right: 15px; }
  .main section {
    min-height: 100vh; }
  .main section:nth-child(odd) {
    background-color: var(--colors-section-odd); }
  .main section:nth-child(even) {
    background-color: var(--colors-section-even); }
  .main #productos .articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .main #productos .buscar-prod {
    margin-top: 25px;
    width: 380px; }
    .main #productos .buscar-prod #btn-buscar {
      font-family: "Century", arial !important;
      text-align: justify;
      letter-spacing: 1.5px;
      font-weight: bold; }
    .main #productos .buscar-prod .row {
      margin-top: 10px; }
    .main #productos .buscar-prod input {
      text-align: right; }
    .main #productos .buscar-prod input::-webkit-outer-spin-button,
    .main #productos .buscar-prod input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .main #productos .tabla-prod {
    margin-top: 25px;
    font-family: "Century", arial;
    width: 380px;
    height: fit-content;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll; }
    .main #productos .tabla-prod table th {
      background-color: var(--colors-section-odd);
      position: sticky;
      top: 0px;
      text-align: center; }
    .main #productos .tabla-prod table tr {
      color: var(--colors-p); }
      .main #productos .tabla-prod table tr td {
        text-align: center; }
  .main #servicios ul li {
    font-family: "Century", arial;
    text-align: justify;
    font-size: 18px;
    color: var(--colors-p); }

.productos {
  margin-top: 50px; }

.swiper {
  height: 300px;
  width: 700px; }

.swiper-slide {
  background-size: cover;
  background-position: center; }
  .swiper-slide:nth-child(1n) {
    background-image: url("../img/img01.jpg"); }
  .swiper-slide:nth-child(2n) {
    background-image: url("../img/img02.jpg"); }
  .swiper-slide:nth-child(3n) {
    background-image: url("../img/img03.jpg"); }
  .swiper-slide:nth-child(4n) {
    background-image: url("../img/img04.jpg"); }
  .swiper-slide:nth-child(5n) {
    background-image: url("../img/img05.jpg"); }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  p {
    font-size: 17px; }
  .main #servicios ul li {
    font-size: 17px; } }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 20px; }
  p {
    font-size: 15px; }
  .main #servicios ul li {
    font-size: 15px; } }
