// TIPOGRAFIA A UTILIZAR
$font-tittle: 'Goodtimes', sans-serif;
$font-main: 'Century', arial;
$font-p:'Fontello', sans-serif;

// TAMAÑO DE FUENTE
// Desktop
$font-size-h1-lg: 40px;
$font-size-h2-lg: 30px;
$font-size-p-lg:  18px;
// Tablet (768 or Less)
$font-size-h1-md: 30px;
$font-size-h2-md: 25px;
$font-size-p-md:  17px;
// Mobile (576 or Less)
$font-size-h1-sm: 25px;
$font-size-h2-sm: 20px;
$font-size-p-sm:  15px;

//COLORES
$colors:(
    // "navbar": white,
    // "p":#ccc,
    // "titles": #64ffda,
    // "nav": #171717,//#333,
    // "brand": #171717,
    // "active": #64ffda,
    // "a": #999,
    // "header": #171717,//#373737,
    // "header-text": white,
    // "section-odd": #373737,
    // "section-even":#444,
    
    "navbar": white,
    "p":black,
    // "titles": rgb(9, 9, 119),
    "titles": black,
    "nav":rgb(9, 9, 119),
    "brand": rgb(9, 9, 119),
    "active": #64ffda,
    "a": white,
    // "header": rgb(9, 9, 119),
    "header":rgb(235, 235, 235),
    // "header-text": white,
    "header-text": #5e5e5e,
    // "section-odd": white,
    // "section-even":white,
    "section-odd": white,
    "section-even":rgb(235, 235, 235),
);