.main{
    padding-left: 50px;
    padding-right: 0%;
    background-color: map-get($colors, "header" );

    .banner{
        position: relative;
        height: 100%;
        margin-top: 15px;
        margin-bottom: 35px;

        .swiper {
            // width: 350px;
            // height: 350px;
            min-width: 200px;
            max-width: 320px;
            width: 40%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 15px black;

            .swiper-wrapper{
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    // width: 350px;
                    // height: 350px;
                    max-width: 320px;
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }

    header{
        margin-top: 20px;
        display: flex;
        height: 60px;
        align-items: center;
        justify-content:center;

        h1{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    section {
        min-height: 100vh;
    }

    section:nth-child(odd) {
        background-color: map-get($colors, "section-odd" );
    }

    section:nth-child(even) {
        background-color: map-get($colors, "section-even" );
    }

    #productos{

        a{
            color: map-get($colors, "titles" );
            text-decoration: none;
            font-weight: bold;
        }

        .articulos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .buscar-prod{
            margin-top: 5px;
            margin-bottom: 25px;
            width: 380px;

            .btn{
                font-family: $font-main !important;
                text-align: center;
                letter-spacing: 1.5px;
                font-weight: bold;
                width: 100px;
            }

            .row{
                margin-top: 10px;
            }

            input{
                text-align: right;
            }

            // Quitar Arrows de INPUT NUMERICOS
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
        }

        .tabla-prod{
            margin-top: 25px;
            margin-bottom: 30px;
            font-family: $font-main;
            width: 380px;
            height: fit-content;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
            
            table{
                th{
                    background-color: map-get($colors, "section-odd" );
                    position: sticky;
                    top: 0px;
                    text-align: center;
                }
                tr{
                    color: map-get($colors, "p" );
                    td{
                        text-align: center;
                    }
                }
            }

        }
    }

    #servicios{
        ul{
            li{
            font-family: $font-main;
            text-align: justify;
            font-size: $font-size-p-lg;
            color: map-get($colors, "p" );
            }
        }
    }
}