//***********************************************************
// RESPONSIVE: TABLET 768 (md)
//***********************************************************
@media only screen and (max-width: 767px){

    // GENERALES
    h1{
        font-size: $font-size-h1-md;
    }
    
    h2{
        font-size: $font-size-h2-md;
    }
    
    p{
        font-size: $font-size-p-md;
    }

    .main{
        // .banner{
        //     // height: 350px;
        //     .swiper {
        //         width: 300px;
        //         height: 300px;

        //         .swiper-wrapper{
        //             .swiper-slide {
        //                 width: 300px;
        //                 height: 300px;
        //             }
        //         }

        //     }
        // }

        #servicios{
            ul{
                li{
                font-size: $font-size-p-md;
                }
            }
        }

    }
}

//***********************************************************
// RESPONSIVE: 576  (sm)
//***********************************************************
@media only screen and (max-width: 575px){

        // GENERALES
        h1{
            font-size: $font-size-h1-sm;
        }
        
        h2{
            font-size: $font-size-h2-sm;
        }
        
        p{
            font-size: $font-size-p-sm;
        }

        .main{
            // .banner{
            //     // height: 250px;
            //     .swiper {
            //         width: 200px;
            //         height: 200px;

            //         .swiper-wrapper{
            //             .swiper-slide {
            //                 width: 200px;
            //                 height: 200px;
            //             }
            //         }

            //     }
            // }

            #servicios{
                ul{
                    li{
                    font-size: $font-size-p-sm;
                    }
                }
            }

        }
}
