@font-face {
    font-family: 'Fontello';
    src: url('../font/fontello.ttf');
}

@font-face {
    font-family: 'Goodtimes';
    src: url('../font/goodtime.ttf');
}

@font-face {
    font-family: 'Century';
    src: url('../font/century.ttf') format('truetype');
}